@using TravelProje.Models.Class
@model List<Yorumlar>
@{
    ViewBag.Title = "YorumListesi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Yorum Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KULLANICI</th>
        <th>MAİL</th>
        <th>YORUM</th>
        <th>BLOG</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var m in Model)
    {
        <tr>
            <td>@m.Id</td>
            <td>@m.Ad</td>
            <td>@m.Mail</td>
            <td>@m.Yorum</td>
            <td>@m.Blog.Baslik</td>
            <td><a href="/Admin/YorumSil/@m.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/YorumGetir/@m.Id" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>
